.header {
  background-color: transparent;
  box-shadow: none;
  width: 100%;
  height: auto;
  margin: 0;
  border: none;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  transition: 0.4s;
}

.header.active {
  background: #ffffff !important;
  box-shadow: 0 2px 28px 0 rgb(0 0 0 / 6%);
  width: 100%;

  color: #505050;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: 0.4s;
}

.header .header__wrapper {
  background-color: transparent;
  padding: 20px 0;
}

.header .navbar {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.header .navbar .logo {
  flex: 1;
  text-align: left;
}

.header .navbar .navbar-nav {
  flex: 2;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.header .navbar .navbar-nav .nav-item {
  padding: 15px 0;
  position: relative;
}
.header .navbar .navbar-nav .nav-item a {
  margin: 0 10px;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
}

.header .navbar .navbar-nav .nav-item .nav__active {
  color: #0bb90b;
}

.header.active .navbar .navbar-nav .nav-item .nav__active {
  color: #0bb90b;
}

.header.active .navbar .navbar-nav .nav-item a {
  color: #505050;
}

.header .navbar .other-option {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}

.nav_icons .toggle-btn {
  background-color: #111;
  width: 45px;
  height: 20px;
  margin: 0;
  border-radius: 50px;
  padding: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transform: scale(1.5);
}
.nav_icons .toggle-btn .ball {
  background-color: #fff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: all 0.2s linear;
}
.nav_icons .toggle-btn .move {
  transform: translateX(22px);
}
.nav_icons .toggle-btn i {
  font-size: 0.8rem;
}

.header .navbar .other-option .mobile__menu {
  display: none;
}

.header .navbar .other-option .mobile__menu span i {
  font-size: 18px;
  color: #fff;
}

.header.active .navbar .other-option .mobile__menu span i {
  color: #505050;
}

@media only screen and (max-width: 912px) {
  .header .navbar .navbar-nav {
    display: none;
  }
  .header .navbar .other-option .default-btn {
    display: none;
  }

  .header .navbar .other-option .mobile__menu {
    display: block;
  }
}
